<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex items-start content-center p-4">
    <div class="w-full">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" class="drawer-overlay"></label>
    <ul class="menu p-4 w-50 h-full bg-neutral-900 text-base-content gap-y-2">
      <!-- Sidebar content here -->
      <h1 class="text-base-100 capitalize font-bold text-lg">Menu</h1>
      <a
        class="text-white px-4 py-2 rounded-md hover:bg-yellow-400 transition-colors"
        routerLink=""
        routerLinkActive="active"
        >Inicio</a
      >
      <a
        class="text-white px-4 py-2 rounded-md hover:bg-yellow-400 transition-colors"
        routerLink="eventos"
        routerLinkActive="active"
        >Eventos</a
      >

      <a
        class="text-white px-4 py-2 rounded-md hover:bg-yellow-400 transition-colors"
        routerLink="tarjetasCredito"
        routerLinkActive="active"
        >Tarjetas de credito</a
      >

      <a
        class="text-white px-4 py-2 rounded-md hover:bg-yellow-400 transition-colors"
        routerLink="pacientes"
        routerLinkActive="active"
        >Pacientes</a
      >
      <a
        class="text-white px-4 py-2 rounded-md hover:bg-yellow-400 transition-colors"
        routerLink="productos"
        routerLinkActive="active"
        >Productos</a
      > <a
      class="text-white px-4 py-2 rounded-md hover:bg-yellow-400 transition-colors"
      routerLink="productoOrdenado"
      routerLinkActive="active"
      >Productos Ordenados</a
    >
    </ul>
  </div>
</div>
